@use '../../tema';
#rifa-num-container{
	justify-content: center;
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	div{
		margin: 1px;
		input{
			border-radius: 15px;
			border: none;
			width: 50px;
			background-color: tema.$numero_btncolor;
			color: tema.$btncomprarcolor;
			height: 50px;
			justify-content: space-evenly;
			padding-bottom: 2px;
			padding-right: 2px;
			&:hover{
				background-color: tema.$numero_btnhover;
			}
		}
	}
}