$main-bgcolor: #F5A05B;
$header-bgcolor: #5AB4C4;
$header-text-color: #fff;
$numero_btncolor: #5AB4C4;
$numero_btnhover: #75EAFF;
$btncomprarbg: #7E3E94;
$btncomprarcolor: #fff; //cor da letra do botão de compra