$main-bgcolor: #B5BCF5;
$header-bgcolor: #F54045;
$header-text-color: #fff;
$numero_btncolor: #4254F5;
$numero_btnhover: #75EAFF;
$btncomprarbg: #35A657;
$btncomprarcolor: #fff; //cor da letra do botão de compra